@model Tag

<div class="container">
  <h1>Etiket Detay</h1>
    <div class="mb-2">
        <label asp-for="Name" class="control-label fw-bold"></label>
        <label class="control-label">: @Model.Name</label>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-2">
        <label asp-for="isActive" class="control-label fw-bold"></label>
        <label class="control-label">: @Model.isActiveString</label>
    </div>
    <a class="btn btn-link" asp-action="Index">Listeye Geri Dön</a>
</div>